<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="warnaars/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="warnaars/">Home</a></li>
		        	<li><a href="warnaars/about">About</a></li>
	        		<li><a href="warnaars/cv">CV</a></li>
	        		<li><a href="warnaars/slides">Slides</a></li>
              <li><a href="warnaars/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://twitter.com/samwarnaars">twitter</a></li>
	        		<li><a href="https://pinboard.in/u/warnaars">pinboard</a></li>
				</ul>
			</footer>
		</body>
	</html>
